*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 2px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #99caab;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #3ea175;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #035946;
}

header{
    background-color: #99caab;
    padding: 10px;
}

.navbar-container{
    text-align: center;
    padding: 2px;
}

.logo{
    color: #035946;
}

.logo span{
    color: #fff;
    padding: 8px;
}

.container{
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(background.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    height: 100vh;
    width: 100%;
}

.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1, h2, h3{
    color: #fff;
    padding: 10px 0;
    letter-spacing: 2px;
    line-height: 40px;
}

.hero h1{
    font-size: 1.5rem;
}

.account a{
    padding: 10px 40px;
    color: #fff;
    background-color: #035946;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.account a:hover{
    background-color: #fff;
    color: #035946;
}

/* Payment section */

.payment-section{
    background: #090a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-text{
    padding: 2rem 20rem;
    margin: auto 0;
    text-align: center;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;

}

.account{
    padding: 3rem 4rem;
    color: #fff;
}

.account p{
    padding-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
}

.account text{
    margin-top: 3rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

/* Fund-Section */

.fund-section{
    background: #090a1a;
}

.fund-container{
    display: flex;
    flex-direction: column;
}

.list{
    width: 60%;
    margin: 0 17rem;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
}

.list-details ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0.8rem;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #090a1a;
}

.talks{
    padding: 0.8rem;
    font-weight: 600;
    line-height: 1rem;
}

.container-flex{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.social{
    padding: 3rem;
}

.social h1, p{
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
}

.social p{
    padding-bottom: 1.5rem;
}

.social ul{
    display: flex;
    gap: 3rem;
}

.social ul li{
    list-style: none;
}

.social ul li a{
    list-style: none;
    text-decoration: none;
}

.second-social{
    padding: 3rem;
}

.second-social h1, p{
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 600;
    color: #fff; 
}

.second-social ul{
    display: flex;
    gap: 3rem;
}

.second-social p{
    padding-bottom: 1.5rem;
}

.second-social ul li{
    list-style: none;
    text-decoration: none;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.contacts h1{
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 35px;
    color: #fff;
}

@media only screen and (max-width: 800px) {
    .top-text{
        padding: 2rem 8rem;
        margin: auto 0;
        text-align: center;
        letter-spacing: 1px;
        line-height: 30px;
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: 700;  
    }

    .list{
        width: 80%;
        margin: 0 5rem;
        padding: 10px 20px;
    }

    .list-details ul{
        padding: 0.5rem;
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .talks{
        font-size: 0.9rem;
        padding: 0.1rem;
    }

    .container-flex{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .account{
        align-items: center;
        text-align: center;
        margin-top: -3rem;
    }

    .social{
        padding: 1.2rem;
    }
    
    .social h3, p{
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 600;
    }
    
    .social p{
        padding-bottom: 1.5rem;
    }
    
    .social ul{
        display: flex;
        gap: 1rem;
    }
    
    .social ul li{
        list-style: none;
    }
    
    .social ul li a{
        list-style: none;
        text-decoration: none;
    }
    
    .second-social{
        padding: 1rem;
    }
    
    .second-social h1, p{
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 600; 
        font-size: 1.2rem;
    }
    
    .second-social ul{
        display: flex;
        gap: 2rem;
    }
    
    .second-social p{
        padding-bottom: 1.5rem;
    }
    
    .second-social ul li{
        list-style: none;
        text-decoration: none;
    }
    
    .contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 6rem;
    }
    
    .contacts h1{
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 769px) {
    .logo{
        font-size: 1.3rem;
    }

    .hero h1{
        font-size: 1.8rem;
    }

    .hero h2{
        font-size: 1.2rem;
        padding-bottom: 18px;
    }

    .top-text{
        padding: 2rem 2rem;
        font-size: 14px;
    }

    .account{
        align-items: center;
        text-align: center;
    }
    
    .account p{
        font-size: 1.2rem;
    }

    .account text{
        font-size: 14px;
    }

    .container-flex{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .list{
        width: 80%;
        margin: 0 4rem;
        padding: 10px 20px;
    }

    .social{
        padding: 1.5rem;
    }
    
    .social h1, p{
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 600;
        font-size: 1.2rem;
    }
    
    .social p{
        padding-bottom: 1.5rem;
    }
    
    .social ul{
        display: flex;
        gap: 1rem;
    }
    
    .social ul li{
        list-style: none;
    }
    
    .social ul li a{
        list-style: none;
        text-decoration: none;
    }
    
    .second-social{
        padding: 1rem;
    }
    
    .second-social h3, p{
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 600; 
    }
    
    .second-social ul{
        display: flex;
        gap: 2rem;
    }
    
    .second-social p{
        padding-bottom: 1.5rem;
    }
    
    .second-social ul li{
        list-style: none;
        text-decoration: none;
    }
    
    .contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .contacts h1{
        font-size: 0.8rem;
        letter-spacing: 1px;
        line-height: 35px;
    }
    
}

@media only screen and (max-width: 600px) {

} 

@media only screen and (max-width: 360px) {
    .hero h1{
        font-size: 1rem;
        padding: 5px 0;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .hero h2{
        font-size: 1rem;
        padding: 5px 0;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .top-text{
        font-size: 0.7rem;
    }

    .account text{
        font-size: 12.5px;
    }

    .list{
        width: 90%;
        margin: 0 1rem;
        padding: 10px 20px;
    }

    .details li{
        font-size: 12px;
    }

    .contacts h1{
        font-size: 0.9rem;
        letter-spacing: 0px;
        line-height: 30px;
    }

    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .social h1, p{
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 600;
        font-size: 1rem;
    }

    .contacts h1{
        font-size: 14px;
    }
}